<table mat-table [dataSource]="(dataSource$ | async)!" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element">{{ element.photoSourceId }}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Source Name</th>
    <td mat-cell *matCellDef="let element">{{ element.photoSourceName }}</td>
  </ng-container>

  <ng-container matColumnDef="isUserAuthorized">
    <th mat-header-cell *matHeaderCellDef>Is Authorized</th>
    <td mat-cell *matCellDef="let element">
      <button mat-button color="primary" (click)="authorize(element.photoSourceId)" *ngIf="!element.isUserAuthorized">Authorize</button>
      <p *ngIf="element.isUserAuthorized">{{ element.isUserAuthorized }}</p>
    </td>
  </ng-container>

  <ng-container matColumnDef="expiresOn">
    <th mat-header-cell *matHeaderCellDef>Token Expires On</th>
    <td mat-cell *matCellDef="let element">
      <p *ngIf="element.tokenExpiresOn">
        {{ element.tokenExpiresOn | date : 'medium' }}
      </p>
    </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let element">
      <button mat-button [disabled]="!element.isUserAuthorized" color="primary" (click)="sendProcessingCommand(element.photoSourceId)">
        Start/Stop Processing
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
