<div style="height: 100%">
  <div style="height: 64px">
    <mat-toolbar color="primary">
      <span>Photo Map</span>
      @for (item of menuItems; track item.route) {
        <a mat-button [routerLink]="item.route"> {{ item.title }} </a>
      }
      <span class="example-spacer"></span>
      <a mat-button>Yandex.Disk: {{ yandexDiskAuthorized ? 'Authorized' : 'Not authorized' }}</a>
      <a mat-button>Dropbox: {{ dropboxAuthorized ? 'Authorized' : 'Not authorized' }}</a>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Favorite">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button aria-label="Share">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
  </div>
  <div style="height: calc(100% - 64px)">
    <router-outlet></router-outlet>
  </div>
</div>
