<section class="grid">
  @for (photo of photos; track photo.id; let index = $index) {
    <button class="thumb" type="button" [title]="photo.fileName" (click)="open(index)">
      <img
        [src]="photo.thumbnailLargeUrl"
        [alt]="photo.fileName"
        width="190"
        height="190"
        loading="lazy"
        (error)="onThumbnailError($event)"
      />

      @let gps = hasGps(photo);
      <span
        class="gps"
        [class.gps--off]="!gps"
        role="img"
        [attr.aria-label]="gps ? 'Has GPS location' : 'No GPS location'"
        [title]="gps ? 'Has GPS location' : 'No GPS location'"
      >
        <app-icon [name]="gps ? 'map-pin' : 'map-pin-off'" [size]="14" />
      </span>
    </button>
  }
</section>

<app-scroll-control></app-scroll-control>
